# .env.example

NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://localhost:27017/booing-app

JWT_ACCESS_SECRET=your_access_jwt_secret
JWT_REFRESH_SECRET=your_refresh_jwt_secret

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

FRONTEND_URL=http://localhost:5173
